body {
    font-family: Arial, sans-serif;
    background-color: #c5b5b5;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
   
    padding-bottom: 20px;
    background-color: #c5b5b5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="button"] {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

nav {
    display: flex;
    width: 100%;
    background-color: maroon;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}