* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-content {
  opacity: 0;
}
#why-choose {
  padding: 10%;
}
#features
{
  padding: 10%;
}
#features,
#why-choose,
#get-started {
  opacity: 0;
}

.second {
  margin-top: 50px;
  display: flex;
  justify-content: right;
}
footer p {
  font-size: 1rem;
  cursor: pointer;
}

.key_features {
  margin-top: 6%;
  display: flex;
  padding: 10px;
}

body {
  margin-right: 7%;
  margin-left: 7%;
  background-size: cover;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: thistle;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: maroon;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: maroon;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  margin-top: 5%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 0px;
}

footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 2rem; 
  }

  .key_features {
    display: inline;
    width: 100%;
  }

  .second {
    display: inline;
  }

  .key_image {
    display: contents;
  }

  .key_image img {
    width: 300px;
  }

  .second_image img {
    width: 300px;
  }

  .third_image img {
    width: 300px;
  }

  header p {
    font-size: 1rem; 
  }

  main {
    padding: 10px; 
  }

  section h2 {
    font-size: 1.5rem; 
  }

  button {
    padding: 8px 16px; 
    font-size: 0.9rem; 
  }

  footer {
    margin-top: 10%; 
    padding: 15px 0; 
  }

  footer p {
    font-size: 0.9rem; 
  }
}