@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 70px;
    height: 100%;
    background-color: maroon;
    color: #ff0000;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #444;
}

.sidebar-header img {
    width: 34px;
    height: 34px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li a img {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
}


.sidebar-menu li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.sidebar-menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 250px;
    padding: 20px;
}