body {
    background-image: url("../images/0-login_page.jpeg");
    background-size: cover;
    align-content: center;
}

nav {
    display: flex;
    width: 100%;
    background-color: #795548;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.login-container {
    background-color: #795548;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

#login_flex {
    display: flex;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    justify-content: left;
    align-items: center;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
