<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetPhysique Pro</title>
    <link rel="stylesheet" href="../static/styles/home.css">
    <link rel="icon" type="Image/png" href="../static/images/icon.png">
    <nav>
        <a href="/about-us">About us</a>
        <a href="/login">Sign in</a>
        <a href="/sign-up">Sign up</a>
    </nav>
</head>
<body>
    <div id="home_flex">
        <h1>PetPhysique Pro</h1>
        <h3 id="text">Pet health is paramount for the well-being of our furry companions and for fostering strong bonds between pets and their owners. Just like humans, pets require proper nutrition, regular exercise, and routine healthcare to thrive. Ensuring the health of pets not only enhances their quality of life but also reduces the risk of diseases and prolongs their lifespan. Additionally, healthy pets contribute to happier households, as they are often more energetic, playful, and affectionate. Furthermore, maintaining pet health can alleviate financial burdens associated with medical treatments for preventable illnesses. Ultimately, prioritizing pet health reflects our commitment to responsible pet ownership and underscores the deep connection and love we share with our animal companions.</h3>
    </div>
    <div id="images">
        <img src="../static/images/home_4.jpeg" alt="images" width="23%">
        <img src="../static/images/home_6.jpeg" alt="images" width="23%">
        <img src="../static/images/home_5.jpeg" alt="images" width="23%">
        <img src="../static/images/home_7.jpeg" alt="images" width="23%">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
        // Animation for home_flex content
        anime.timeline({loop: false})
            .add({
                targets: '#home_flex h1, #home_flex h3',
                translateY: [-50, 0],
                opacity: [0, 1],
                easing: 'easeOutExpo',
                duration: 1500
            });

        // Animation for images
        anime({
            targets: '#images img',
            translateY: [-50, 0],
            opacity: [0, 1],
            easing: 'easeOutExpo',
            duration: 1500,
            delay: anime.stagger(200) // Stagger animation for each image
        });
    </script>
</body>
</html>
