<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../static/styles/about_us.css">
    <link rel="icon" type="Image/png" href="../static/images/icon.png">
    <nav>
        <a href="/dashboard"
            ><img src="../static/images/home.svg" alt="Home"
          /></a>
        <!--<a href="">About us</a>-->
       
    </nav>
</head>
<body>
    <div id="about_us">
        <h4>How can I find out what breed my pet is?</h4><p>Order a pet DNA Test</p><p>With the simple swipe of a cheek swab, the DNA sample can determine the ancestry of a mixed-breed pet by testing for more than 170 breeds. Within three weeks, pet owners are emailed an official ancestry report that reveals the pet's genetic background.</p><h4>Why is chocolate bad for Dogs?</h4><p>Though chocolate is a tasty treat for humans, for dogs it is poisonous. Chocolate’s toxic component is theobromine. Dogs process theobromine very slowly, which allows for it to build up in their system to toxic levels. Different types of chocolate have different amounts of theobromine, but chocolate should always be out of reach of dogs.</p>
        <h4>Why does my dog eat grass?</h4><p>With the simple swipe of a cheek swab, the DNA sample can determine the ancestry of a mixed-breed pet by testing for more than 170 breeds. Within three weeks, pet owners are emailed an official ancestry report that reveals the pet's genetic background.</p><h4>How often should I bath my Cat</h4><p>You want to give your outdoor cat a bath about once per month, but this can also depend on your cat’s lifestyle. If your cat comes home covered in mud the week after his last bath…you may need to break the rule and help him clean up again!
            Also, you may have to give your cat a bath if he acquires fleas.  In this case, you would just need to get a flea-ridding shampoo for the process. When bathing your cat, don’t forget to be gentle and to use warm water followed by a soft, warm towel dry!</p>
        <h4>How often should I give my dog a bath</h4><p>Just like for cats, the recommended frequency for washing your dog is once a month. It is important to remember that washing your pup more frequently than this could cause his skin to get too dry for comfort.
            If the need arises for you to give him a second bath, try to use only water for the wash or a shampoo that provides moisture for his skin!</p>
    </div>
</body>
</html>