<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <nav>
        <a href="/dashboard">Home</a>
        <a href="/user-info">My Info</a>
        <a href="/my-pets">My Pets</a>
      </nav>
      <link rel="stylesheet" href="../static/styles/info.css">
</head>
<body>
    <table>
        <tr>
          <th>BREED</th>
          <th>WEIGHT RANGE</th>
          <th>BMI RANGE</th>
        </tr>
        <tr>
          <td>Abyssinian</td>
          <td>3 - 5kg</td>
          <td>14.34 - 17.67</td>
        </tr>
        <tr>
            <td>Africanis</td>
            <td>20 - 30kg</td>
            <td>72.12 - 78.45</td>
          </tr>
        <tr>
          <td>American Shorthair</td>
          <td>3 - 6kg</td>
          <td>15.34 - 17.67</td>
        </tr>
        <tr>
          <td>Bengal</td>
          <td>4 - 8kg</td>
          <td>16.34 - 19.67</td>
        </tr>
        <tr>
          <td>Birman</td>
          <td>3 - 6kg</td>
          <td>15.34 - 17.67</td>
        </tr>
        <tr>
          <td>British Shorthair</td>
          <td>4 - 7kg</td>
          <td>18.34 - 21.67</td>
        </tr>
        <tr>
          <td>Basenji</td>
          <td>9 - 12kg</td>
          <td>62.34 - 65.44</td>
        </tr>
        <tr>
          <td>Beagle</td>
          <td>9 - 11kg</td>
          <td>53.34 - 57.67</td>
        </tr>
        <tr>
            <td>Boerboel</td>
            <td>68 - 91kg</td>
            <td>191.14 - 216.84</td>
          </tr>
        <tr>
          <td>Boxer</td>
          <td>25 - 32kg</td>
          <td>74.34 - 79.67</td>
        </tr>
        <tr>
          <td>Bulldog</td>
          <td>18 - 25kg</td>
          <td>81.34 - 85.67</td>
        </tr>
        <tr>
          <td>Bull Terrier</td>
          <td>20 - 30kg</td>
          <td>72.34 - 77.67</td>
        </tr>
        <tr>
          <td>Chihuahua</td>
          <td>1 - 3kg</td>
          <td>48.34 - 50.67</td>
        </tr>
        <tr>
          <td>Cocker Spaniel</td>
          <td>12 - 15kg</td>
          <td>55.34 - 59.67</td>
        </tr>
        <tr>
          <td>Dachshund</td>
          <td>5 - 7kg</td>
          <td>28.34 - 31.67</td>
        </tr>
        <tr>
          <td>Doberman</td>
          <td>32 - 45kg</td>
          <td>80.62 - 86.81</td>
        </tr>
        <tr>
          <td>German Shepherd</td>
          <td>22 - 40kg</td>
          <td>72.73 - 94.67</td>
        </tr>
        <tr>
          <td>Golden Retriever</td>
          <td>25 - 34kg</td>
          <td>91.37 - 96.12</td>
        </tr>
        <tr>
          <td>Labrador Retriever</td>
          <td>25 - 36kg</td>
          <td>82.34 - 88.67</td>
        </tr>
        <tr>
            <td>Maine Coon</td>
            <td>5 - 11kg</td>
            <td>21.14 - 26.84</td>
        </tr>
        <tr>
            <td>Manx</td>
            <td>3 - 5kg</td>
            <td>18.27 - 20.59</td>
        </tr>
        <tr>
            <td>Ocicat</td>
            <td>4 - 6kg</td>
            <td>16.18 - 19.42</td>
        </tr>
        <tr>
          <td>Poodle</td>
          <td>7 - 12kg</td>
          <td>33.34 - 38.67</td>
        </tr>
        <tr>
          <td>Pug</td>
          <td>6 - 8kg</td>
          <td>36.34 - 39.67</td>
        </tr>
        <tr>
          <td>Rottweiler</td>
          <td>40 - 60kg</td>
          <td>85.34 - 92.67</td>
        </tr>
        <tr>
            <td>Russian Blue</td>
            <td>3 - 7kg</td>
            <td>19.64 - 23.28</td>
        </tr>
        <tr>
          <td>Siberian Husky</td>
          <td>16 - 27kg</td>
          <td>57.34 - 63.67</td>
        </tr>
        <tr>
            <td>Somali</td>
            <td>3 - 5kg</td>
            <td>14.34 - 17.67</td>
        </tr>
        <tr>
            <td>Sphynx</td>
            <td>3 - 5kg</td>
            <td>96 - 125.94</td>
        </tr>
      </table>

      
      <div id="more_info">
        <h2>Dogs</h2>
        <p>For underweight dogs, a balanced diet rich in protein, healthy fats, and complex carbohydrates is essential. Consider incorporating high-quality, calorie-dense dog food, preferably with real meat as the primary ingredient. Supplementing with additional protein sources like boiled chicken or turkey, and healthy fats such as fish oil or olive oil, can help promote weight gain. Small, frequent meals throughout the day may be beneficial to encourage healthy weight gain without overwhelming the digestive system. Consultation with a veterinarian can provide tailored guidance based on the dog's specific needs and health condition.</p>
        <p>On the other hand, for overweight dogs, a diet focused on weight management is crucial. Opt for a specially formulated low-calorie dog food that still provides essential nutrients. Limit treats and table scraps, which can contribute to excess calorie intake. Incorporate more fiber-rich foods like vegetables to promote satiety and aid digestion. Regular exercise is also vital for weight loss, so ensure your dog gets plenty of physical activity tailored to their fitness level and health status. Consulting with a veterinarian or a canine nutritionist can help design a customized diet and exercise plan to safely and effectively manage your dog's weight.</p>
        <br>
        <h2>Cats</h2>
        <p>For underweight cats, a nutrient-dense diet is essential to support healthy weight gain. Look for high-quality cat food with a balanced mix of protein, fats, and carbohydrates. Choose formulas with real meat as the main ingredient to provide essential amino acids and encourage muscle development. Consider supplementing with small amounts of canned tuna or cooked chicken to increase calorie intake. Splitting meals into several smaller portions throughout the day can help stimulate appetite and prevent overloading the digestive system. Consulting with a veterinarian can provide personalized recommendations based on your cat's specific nutritional needs and health condition.</p>
        <p>Conversely, for overweight cats, a weight management-focused diet is crucial. Opt for specially formulated low-calorie cat food designed to promote weight loss while still providing essential nutrients. Reduce or eliminate treats and table scraps, which can contribute to excess calorie intake. Increase the proportion of fiber-rich foods like canned pumpkin or green beans to promote satiety and aid in digestion. Incorporate interactive toys or activities to encourage physical exercise and mental stimulation. Consulting with a veterinarian or a feline nutritionist can help develop a tailored diet and exercise plan to safely and effectively manage your cat's weight. </p>
      </div>
    </body>
</html>
