<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetPhysique Pro - Your Pet's Health, Elevated</title>
    <link rel="stylesheet" href="../static/styles/landing_page.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script> <!-- Anime.js library for animations -->
</head>
<body>
<header>
    <h1>PetPhysique Pro</h1>
    <p>Your Pet's Health, Elevated</p>
    <a href="#why-choose"><button>Why Us</button></a>
    <a href="#about"><button>About Us</button></a>
</header>
<main>
    
    <div class="key_features"> 
        <section class="key_image">
            <img src="../static/images/key_image.png" alt="" width="800">
        </section>
        <section id="features">
            <h2>BMI CALCULATOR</h2>
            <ul>
                <li>Takes Pet Weight and Height</li>
                <li>Calculates BMI</li>
                <li>Displays Differnt Colour Showing Pet's Health Levels</li>
                <li>Personalized Recommendations</li>
            </ul>
        </section>
       
    </div>
    <div class="second">
        <section id="why-choose">
            <h2>INFORMATION CHART</h2>
            <ul>
                <li>Displays More On Your Pet Breed</li>
                <li>Sleek and Intuitive Design</li>
                <li>In Table Format</li>
                <li>Easy To Read</li>
            </ul>
        </section>
        <section class="second_image">
            <img src="../static/images/second_image1.png" alt="" width="800">
        </section>
    </div>
    <div class="key_features"> 
        <section class="third_image">
            <img src="../static/images/third_image.png" alt="" width="800">
        </section>
        <section id="features">
            <h2>UPDATE PET DATA</h2>
            <ul>
                <li>Updates Pet Weight</li>
                <li>Updates Pet Height</li>
                <li>Sends Store the new weight and Height</li>
                <li>Calculates current BMI</li>
            </ul>
        </section>
       
    </div>
    <br>
    <div class="about-section" id="about">
        <h2>About</h2>
        <p>During a late-night brainstorming session fueled by a shared passion for innovation, our team stumbled upon the idea for this project. The concept emerged from a collective desire to tackle a real-world problem that resonated with each of us on a personal level.</p>
        <p>As individuals with diverse backgrounds and experiences, we were drawn together by a common goal: to create something meaningful that would make a positive impact. Thus, the journey began.</p>
        <p>Through countless hours of collaboration, coding marathons, and occasional bouts of frustration, we transformed our vision into reality. Along the way, we laughed, learned, and grew together as a team.</p>
        <p>Now, as we proudly present our creation to the world, we invite you to join us on this journey. Explore, engage, and discover the possibilities.</p>
        <p>This project is part of our Portfolio for <a href="https://www.alxafrica.com/" target="_blank">ALX Africa</a>.</p>
        <br>
        <h3>Meet the Team</h3>
        <ul>
            <li><p>Aladaabdul</p><a href="https://www.linkedin.com/in/abdulrahman-yakub-alada" target="_blank">LinkedIn</a> | <a href="https://github.com/Aladaabdul" target="_blank">GitHub</a> | <a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li><p>Farai</p><a href="https://www.linkedin.com/in/www.linkedin.com/in/faraivambe" target="_blank">LinkedIn</a> | <a href="https://github.com/DeFatso" target="_blank">GitHub</a> | <a href="https://twitter.com/teammember2" target="_blank">Twitter</a></li>
            <li><p>Lisa</p><a href="https://www.linkedin.com/in/lisah-lee-2a8000263" target="_blank">LinkedIn</a> | <a href="https://github.com/lisacharuma" target="_blank">GitHub</a> | <a href="https://x.com/CharumaLisa?t=homZDp-Vyxvz-NIODSwwJg&s=09" target="_blank">Twitter</a></li>
            <!-- Add more team members as needed -->
        </ul>
        <p>Explore the codebase on <a href="https://github.com/DeFatso/PetPhysique-Pro" target="_blank">GitHub</a>.</p>
    </div>
    <br>
    <section id="get-started">
        <h2>Get Started Today!</h2>
        <p>
            Sign up with PetPhysique Pro now and embark on a path to optimal pet
            wellness. Join a community of dedicated pet owners who trust
            PetPhysique Pro to help them achieve their pet's health goals. Start
            tracking your pet's BMI and growth progress with PetPhysique Pro
            today!
        </p>
        <button class="btn btn-maroon" type="button" onclick="window.location.href='/home'">Get Started Now</button>
    </section>
    
</main>
<footer>
    <p>&copy; 2024 PetPhysique Pro. All rights reserved.</p>
</footer>

<script>
    // Animation for header text
    anime.timeline({loop: false})
        .add({
            targets: 'header h1',
            translateY: [-50, 0],
            opacity: [0, 1],
            easing: 'easeOutExpo',
            duration: 1500
        })
        .add({
            targets: 'header p',
            translateY: [-50, 0],
            opacity: [0, 1],
            easing: 'easeOutExpo',
            duration: 1500
        }, '-=1200'); // Offset animation for the paragraph by -1200ms

    // Animation for sections
    anime({
        targets: '#features, #why-choose, #get-started',
        translateY: [-50, 0],
        opacity: [0, 1],
        easing: 'easeOutExpo',
        duration: 1500,
        delay: anime.stagger(300) // Stagger animation for each section
    });
</script>
</body>
</html>
